body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: url('background.png') no-repeat center center fixed;
  background-size: cover;
  color: white;
  scroll-behavior: smooth;
}

.hero {
  background-color: transparent; /* removes the dark background */
  padding: 0.5rem 1rem;           /* less padding to shrink the space */
  text-align: left;              /* align text to the left */
}


h1 {
  font-size: 4rem;
  margin: 0;
}

.panel {
  background-color: rgba(0, 0, 0, 0.8);
  margin: 4rem auto;
  padding: 2rem;
  width: 90%;
  max-width: 1200px;
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.15);
}

.panel h2 {
  text-align: center;
  margin-bottom: 1rem;
  font-size: 2rem;
}

iframe {
  width: 100%;
  height: 700px;
  border: none;
  border-radius: 10px;
}
.search-container {
  text-align: center;
  margin-top: 20px;
  position: relative;
  z-index: 1000;
}

.search-container input[type="text"] {
  padding: 10px;
  width: 300px;
  border-radius: 5px;
  border: none;
  font-size: 1rem;
}

.search-container button {
  padding: 10px 15px;
  margin-left: 10px;
  background-color: #555;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.search-container button:hover {
  background-color: #333;
}

